@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

$button-padding-vertical: 0.55em;

.button {
  height: auto !important;
}

.button.is-wide.is-rounded {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
