@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400|Open+Sans');
// Material Design Icons
$mdi-font-path: "../static/fonts";
@import "../node_modules/mdi/scss/materialdesignicons";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');


// Imports
@import "variables";
@import "navbar";
@import "buttons";
@import "images";


// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// Footer

.footer {
  background-color: $grey-darker;
  margin-top: 10rem;
  color: $grey-lighter;
  a {
    color: inherit;
  }
}
.level {
  margin: 0 25%;
}

a:hover .icon,
.level-item a:hover {
  color: $grey-light !important;
}
a .icon {
  color: $grey-lighter;
}
.icon.has-circle {
  padding: 1.8rem;
}
#contact {
  overflow: hidden;
  text-align: center;
  font-size: $size-3;
  margin: 4rem 0;
}
#contact:before,
#contact:after {
  background-color: $grey-light;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#contact:before {
  right: 0.5em;
  margin-left: -50%;
}
#contact:after {
  left: 0.5em;
  margin-right: -50%;
}
#legal {
  margin: 5rem 0;
}

// Icons
.icon.has-circle {
  border: 1px solid;
  border-radius: 50%;
}

.mdi-2x {
  font-size: 2rem;
}
.mdi-3x {
  font-size: 3rem;
}
.mdi-4x {
  font-size: 4rem;
}
.mdi-5x {
  font-size: 5rem;
}
.mdi-6x {
  font-size: 6rem;
}