@import "variables";

.navbar-brand {
  font-weight: bold;
  color: $primary;
}
.navbar-brand .navbar-item {
  color: inherit;
}

// fix for navbar on mobile
a.nav-item.is-primary {
  color: $primary;
}

.navbar-item {
  align-items: center;
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}